


html,
body {
   width: 100%;
   height: 100%;
   text-align: center;
   font-family: "Helvetica Neue";
   font-weight: 300;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

h1 {
   font-weight: 300;
   font-family: 'Open Sans', sans-serif;
   font-size: 3rem;
   color: #efbd62;
}

a {
   text-decoration: none;
   display: block;
   color: #aaa;
   font-size: 1rem;
}

.select-style {
   padding: 0;
   margin: 0;
   margin-bottom: 1rem;
   display: inline-block;
   border-radius: .2rem;
   overflow: hidden;
   background-color: #fff;
   background: #fff url('images/arrowdown.gif') no-repeat 90% 50%;
}

.select-style select {
   padding: .5rem 2rem;
   border: none;
   box-shadow: none;
   background-color: transparent;
   background-image: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font-size: .8rem;
   font-family: 'Open Sans', sans-serif;
   color: #777;
}

.select-style select:focus {
   outline: none;
}

.clearfix {
   clear: both;
}

.game-wrapper {
   background: #eee;
   min-width: 250px;
   display: inline-block;
   margin: 0 auto;
   padding: 2rem;
   border-radius: .2rem;
   margin-bottom: 2rem;
}

.game-screen {
   background: #fff;
   padding: 1rem;
   border-radius: .2rem;
}

.game-screen .game-header {
   display: flex;
   margin-bottom: 1rem;
   color: #bbb;
}

.game-screen .game-header > div {
   flex-grow: 1;
}

.game-screen .game-lower-header {
    display: flex;
    margin-bottom: 1rem;
    color: #000000;
 }
 
 .game-screen .game-lower-header > div {
    flex-grow: 1;
 }

.game-screen .game-board {
   margin-bottom: 1rem;
}

.game-screen .game-footer .game-restart-button {
   border: 0;
   background: #efbd62;
   color: #eee;
   border-radius: .2em;
   padding: 1rem;
   font-size: .9rem;
   cursor: pointer;
   outline: 0;
}

.game-screen .game-footer .game-join-queue-button{
    border: 0;
    background: #eee;
    color: #58a4de;
    border-radius: .2em;
    padding: 1rem;
    font-size: .9rem;
    cursor: pointer;
    outline: 0;
}
.game-screen .game-footer .game-leave-game-button{
    border: 0;
    background: #eee;
    color: #d44646;
    border-radius: .2em;
    padding: 1rem;
    font-size: .9rem;
    cursor: pointer;
    outline: 0;
}
.game-screen .game-footer .game-toggle-requests-button{
    border: 0;
    background: #eee;
    color: #52c5a7;
    border-radius: .2em;
    padding: 1rem;
    font-size: .9rem;
    cursor: pointer;
    outline: 0;
}
.game-screen .game-footer .game-request-challenge-button{
    border: 0;
    background: #eee;
    color: #efbd62;
    border-radius: .2em;
    padding: 1rem;
    font-size: .9rem;
    cursor: pointer;
    outline: 0;
}
.zone {
   background: #eee;
   background-size: contain !important;
   background-position: center center !important;
   background-repeat: no-repeat !important;
   width: 25px;
   height: 25px;
   line-height: 25px;
   float: left;
   text-align: center;
   box-sizing: border-box;
   display: inline-block;
   border-radius: .2em;
   margin: .2rem;
   font-weight: bold;
   cursor: pointer;
}

.zone.is-revealed,
.zone:hover {
   background: #ddd;
}
.zone.is-mine {
   background-image: url(images/flagblue.png);
}

.zone.is-mine-apponent {
    background-image: url(images/flagblack.png);
 }

.zone.is-mine.is-clicked {
   background-color: #d44646;
}

.zone.is-flagged {
   background: url(images/flag.png);
}

.zone.is-empty {
   background: rgba(239, 189, 98, 0.27);
}

.zone.is-low {
   color: #58a4de;
}

.zone.is-medium {
   color: #52c5a7;
}

.zone.is-high {
   color: #d44646;
}
.left_side{
   position: fixed;
   width: 35%;
   left: 0%;
   height: 100%;
   top: 0%;
   overflow: hidden;
}
.messages{
   position: absolute;
   width: 100%;
   height: 70%;
   left: 0%;
   top: 0%;
   font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: normal;
 max-width: 450px;
  margin: 50px auto;
 display: flex;
 flex-direction: column;
 overflow: scroll;
 
 }
.inputbox{
   position: absolute;

   height: 20%;
   top: 80%;
   
}
input.round{
   border-radius: 25px;
   border: 2px solid #147df4;
   padding: 10px; 
   font-size: 15px;
   font-family: "Helvetica Neue";
  font-weight: normal;
}
.rightside{
   position: fixed;
   height: 100%;
   overflow: hidden;
   left: 35%;
}


p {
 max-width: 255px;
 word-wrap: break-word;
 margin-bottom: 12px;
 line-height: 24px;
 position:relative;
  padding:10px 20px;
 border-radius:25px;
}
p:before{
   content:"";
     position:absolute;
   bottom:-2px;
   height:20px;
 }

 p:after{
   content:"";
     position:absolute;
   bottom:-2px;
   height:20px;
 }
.from-me {
  color:white; 
  background:#0B93F6;
  align-self: flex-end;
     
}
.from-me:before {
   right:-7px;
   border-right:20px solid #0B93F6;
   border-bottom-left-radius: 16px 14px;
   transform:translate(0, -2px);
}
.from-me:after {
   right:-56px;
   width:26px;
   background:white;
   border-bottom-left-radius: 10px;
   transform:translate(-30px, -2px);
}

.from-them {
  background:#E5E5EA;
  color:black;
}
.from-them:before {
   left:-7px;
   border-left:20px solid #E5E5EA;
   border-bottom-right-radius: 16px 14px;
   transform:translate(0, -2px);
}
.from-them:after {
   left:4px;
   width:26px;
   background:white;
   border-bottom-right-radius: 10px;
   transform:translate(-30px, -2px);
}
 .time-right {
   float: right;
   color: #aaa;
 }
 
 .time-left {
   float: left;
   color: #999;
 }