* {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	padding:0;
	margin:0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

::-webkit-scrollbar{
	width: 0px;
	height: 0px;
}
body {
	overflow-x:hidden;
	width: 100%;
	background-color: rgb(102, 102, 153)
}
p{
	font-family: 'Exo';
}
button{
	font-family: 'Exo';
}
.vertical-line{
	display: inline-block;
	border-left: 1px solid #ccc;
	margin: 0 10px;
	height: 5%;
}
.section-landscape{
	width: 15%;
	height: 100%;
	top: 0%;
	left: 85%;
	position: absolute;;
}
.grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	position: relative;
  }
  .grid-row{
	  padding-bottom: 5%;
  }
.section-title-full{
	width: 100%;
	position: absolute;
	top: 85%;
	left: 0%;
	display: flex;
}
.section-info-full{
	width: 100%;
	position: absolute;
	top: 90%;
	left: 0%;
	display: flex;
}
.section-buttons-full{
	width: 100%;
	position: absolute;
	top: 95%;
	left: 0%;
	display: flex;
}
.section-block{
	width: 15%;
	top: 0%;
	position: relative;
}
.section-block-buttons{
	width: 20%;
	top: 0%;
	position: relative;
}

.game-restart-button {
	border: 0;
	background: #efbd62;
	color: #eee;
	border-radius: .2em;
	padding: .3rem;
	font-size: .8rem;
	cursor: pointer;
	outline: 0;
 }
 .join-que-button-class{
	 border: 0;
	 background: #eee;
	 color: #58a4de;
	 border-radius: .2em;
	 padding: .3rem;
	 font-size: .8rem;
	 cursor: pointer;
	 outline: 0;
 }
.leave-game-button-class{
	 border: 0;
	 background: #eee;
	 color: #d44646;
	 border-radius: .2em;
	 padding: .3rem;
	 font-size: .8rem;
	 cursor: pointer;
	 outline: 0;
 }
 .toggle-requests-button-class{
	 border: 0;
	 background: #eee;
	 color: #52c5a7;
	 border-radius: .2em;
	 padding: .3rem;
	 font-size: .8rem;
	 cursor: pointer;
	 outline: 0;
 }
.challenge-request-button-class{
	 border: 0;
	 background: #eee;
	 color: #efbd62;
	 border-radius: .2em;
	 padding: .3rem;
	 font-size: .8rem;
	 cursor: pointer;
	 outline: 0;
 }
.game-request-spectate-button{
	border: 0;
	background: #eee;
	color:#A25BDa;
	border-radius: .2em;
	padding: .3rem;
	font-size: .8rem;
	cursor: pointer;
	outline: 0;
 }
 
@font-face {
	font-family:Exo;
	font-weight:light;
	src:url("./fonts/Exo2-ExtraLight.otf") format("opentype");
}

@font-face {
	font-family:Exo;
	src:url("./fonts/Exo2-Regular.otf") format("opentype");
}

@font-face {
	font-family:Exo;
	font-weight:bold;
	src:url("./fonts/Exo2-SemiBold.otf") format("opentype");
}

